# Dependencies
/node_modules

# Next.js Build 
/.next/
/out/
/build

# Environment Secrets
.env*.local

# plugin for webhook
projects_debug.json
seven9-revalidation.php
seven9-revalidation.zip

# Debug & OS Files
npm-debug.log*
.DS_Store
Thumbs.db